@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drF0fNC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drEqfdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drF0fdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drFGfdC6.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v15/7cH1v4okm5zmbvwkAx_sfcEuiD8jjPKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams'), local('CaviarDreams'), url('caviardreams.woff2') format('woff2'), url('caviardreams.woff') format('woff'), url('caviardreams.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Italic'), local('CaviarDreams-Italic'), url('caviardreamsitalic.woff2') format('woff2'), url('caviardreamsitalic.woff') format('woff'), url('caviardreamsitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Bold'), local('CaviarDreams-Bold'), url('caviardreamsbold.woff2') format('woff2'), url('caviardreamsbold.woff') format('woff'), url('caviardreamsbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: local('Caviar Dreams Bold Italic'), local('CaviarDreams-BoldItalic'), url('caviardreamsbolditalic.woff2') format('woff2'), url('caviardreamsbolditalic.woff') format('woff'), url('caviardreamsbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Corinthia';
  src: local('Corinthia'), local('Corinthia'), url('corinthia.woff2') format('woff2'), url('corinthia.woff') format('woff'), url('corinthia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-family: Caviar Dreams;
  background-color: #170735;
  color: #FFFFFF;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
input,
button {
  outline: none;
  background: transparent;
  border: none;
  border-radius: 0;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
@media (min-width: 1800px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1740px !important;
  }
}
@media (min-width: 1600px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1400px;
  }
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.header .logo-img {
  width: 193px;
  height: auto;
}
.header .logo,
.header .menu,
.header .store-nav {
  padding: 0;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
}
.header .menu-list li {
  padding: 0 20px;
}
.header .menu-list li:first-child {
  padding-left: 0;
}
.header .menu-list li:last-child {
  padding-right: 0;
}
.header .menu-link {
  color: #FFFFFF;
  font-size: 20px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}
.header .menu-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.header .menu-link:hover:after {
  width: 100%;
  left: 0;
}
.header .store-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .user-link {
  position: relative;
  top: 2px;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Exo 2', sans-serif;
  color: #0D030E;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3CAFF 50%, #FFFFFF 100%);
  transition: all 0.3s;
}
.header .user-link:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.header .user-icon {
  width: 16px;
  height: auto;
  position: relative;
  top: -3px;
  margin-right: 5px;
}
.header .cart-link {
  position: relative;
  margin-left: 15px;
}
.header .cart-link .items {
  position: absolute;
  bottom: -2px;
  left: -6px;
  font-size: 14px;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background: #FFFFFF;
  border: 2px solid #944CA2;
  border-radius: 100%;
}
.header .cart-icon {
  width: 48px;
  height: auto;
}
.header h2 {
  font-size: 52px;
  font-weight: bold;
  margin-top: 220px;
}
.header p {
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
}
.header .consultation-btn {
  margin-top: 80px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 22px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.header .consultation-btn:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.header .header-social {
  display: flex;
  margin-top: 120px;
}
.header .header-social li {
  width: max-content;
  margin-right: 20px;
}
.header .header-social .header-social-img {
  height: 30px;
  width: 30px;
  transition: all 0.3s;
}
.header .header-social .header-social-img:hover {
  transform: scale(1.2);
}
.header .right-block {
  position: relative;
  background: transparent;
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .right-block:before {
  position: absolute;
  content: "";
  background-image: url(../images/arms.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  width: 1000px;
  display: block;
  top: 0;
  left: -100px;
  z-index: -1;
}
.header .play {
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.header .play .play-btn {
  margin-bottom: 130px;
  font-family: Corinthia;
  font-size: 80px;
  color: #000000;
  position: relative;
}
.header .play .play-btn .play-img {
  position: absolute;
  top: -30px;
  left: 10px;
}
.header .play .play-btn span {
  position: absolute;
  text-decoration: underline;
  font-family: Caviar Dreams;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  left: 100px;
  top: 20px;
}
.header .play .play-img {
  width: 82px;
  height: auto;
}
.header .timer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: -300px;
}
.header .timer .timer-icon .timer-icon-img {
  width: 200px;
  height: auto;
}
.header .timer .countdown-title {
  font-weight: 100;
  font-size: 40px;
}
.header .timer .countdown {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin-left: 30px;
  position: relative;
  bottom: -20px;
}
.header .timer .countdown-number {
  display: inline-block;
}
.header .timer .countdown-time {
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 50px;
  background: #9990C7;
  color: #FFFFFF;
  width: 80px;
}
.header .timer .countdown-text {
  display: block;
  font-size: 16px;
}
.breadcrumbs {
  display: flex;
  margin-bottom: 30px;
}
.breadcrumbs li {
  position: relative;
  width: max-content;
}
.breadcrumbs li:after {
  content: "/";
  color: #FFFFFF;
  display: block;
  right: 10px;
  top: 2px;
  position: absolute;
}
.breadcrumbs li:last-child .breadcrumb-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.breadcrumbs li:last-child .breadcrumb-link:after {
  display: none;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs .breadcrumb-link {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 30px;
  position: relative;
  text-decoration: underline;
}
.breadcrumbs .breadcrumb-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.breadcrumbs .breadcrumb-link:hover:after {
  width: 100%;
  left: 0;
}
.pagination {
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: end;
}
.pagination li {
  position: relative;
  margin: 0 10px;
}
.pagination li:first-child .pagination-link,
.pagination li:last-child .pagination-link {
  font-size: 19px;
  position: relative;
  top: 2px;
}
.pagination .pagination-link {
  font-family: Corinthia;
  font-size: 50px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.pagination .pagination-link:hover {
  color: #944CA2;
}
.pagination .pagination-link.active {
  font-size: 70px;
  position: relative;
  top: -8px;
  pointer-events: none;
  cursor: default;
}
.pagination .pagination-link.active:after {
  position: absolute;
  bottom: 8px;
  content: "_";
  font-size: 20px;
  display: block;
}
.experts {
  padding-top: 50px;
}
.experts .title-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.experts .expert-slider .expert-block {
  padding: 0 15px;
}
.experts .expert-slider .expert-block .image-block {
  background: #ddbae8;
  background: radial-gradient(circle, #ddbae8 0%, #ffffff 0%, #ddbae8 100%);
}
.experts .expert-slider .expert-block .image-block .expert-img {
  width: auto;
  height: 396px;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}
.experts .expert-slider .expert-block .name-block h3 {
  text-align: center;
  margin-top: 30px;
}
.experts .expert-slider .expert-block .name-block h3 a {
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #FFFFFF;
}
.experts .expert-slider .expert-block .name-block p {
  height: 34px;
  margin-top: 20px;
  padding-top: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}
.experts .expert-slider .expert-block .description-block {
  padding: 0;
}
.experts .expert-slider .expert-block .description-block p {
  margin-top: 40px;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  height: 80px;
}
.experts .expert-slider .expert-block .description-block .get-consultation {
  display: block;
  margin: 40px auto;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.experts .expert-slider .expert-block .description-block .get-consultation:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.experts .expert-slider-nav {
  display: flex;
  align-items: center;
}
.experts .expert-slider-nav a {
  color: #944CA2;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s;
}
.experts .expert-slider-nav a:hover {
  color: #FFFFFF;
}
.experts .expert-slider-nav .expert-slider-arrows {
  margin-left: 15px;
  font-size: 19px;
}
.experts .expert-slider-nav .expert-slider-arrows i {
  color: #944CA2;
  transition: all 0.3s;
  cursor: pointer;
}
.experts .expert-slider-nav .expert-slider-arrows i:hover {
  color: #FFFFFF;
}
.experts h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
}
.experts h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.experts-page h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.experts-page h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.experts-page .expert-block {
  position: relative;
  margin-bottom: 25px;
}
.experts-page .expert-block .image-block {
  background: #ddbae8;
  background: radial-gradient(circle, #ddbae8 0%, #ffffff 0%, #ddbae8 100%);
}
.experts-page .expert-block .image-block .expert-img {
  width: auto;
  height: 396px;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}
.experts-page .expert-block .name-block {
  background: #FFFFFF;
  padding: 10px;
}
.experts-page .expert-block .name-block h3 {
  padding-top: 30px;
  text-align: center;
}
.experts-page .expert-block .name-block h3 a {
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
  text-align: center;
}
.experts-page .expert-block .name-block p {
  height: 70px;
  padding-top: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: #8374D5;
  margin-bottom: 0;
}
.experts-page .expert-block .description-block {
  position: relative;
  top: -2px;
  background: #FFFFFF;
  padding: 10px;
}
.experts-page .expert-block .description-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  text-align: center;
  height: 120px;
}
.experts-page .expert-block .description-block .get-consultation {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.experts-page .expert-block .description-block .get-consultation:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.expert-page h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.expert-page h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.expert-page .expert-image-block {
  background: radial-gradient(circle, #ddbae8 0%, #ffffff 0%, #ddbae8 100%);
  text-align: center;
  padding-top: 20px;
  position: relative;
}
.expert-page .expert-image-block img {
  position: relative;
  max-height: 520px;
  width: auto;
  left: -20px;
}
.expert-page .expert-descr-block {
  background: #FFFFFF;
  padding: 30px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.expert-page .expert-descr-block h2 {
  font-family: Caviar Dreams;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  color: #0D030E;
}
.expert-page .expert-descr-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #944CA2;
}
.expert-page .expert-descr-block .expert-description {
  display: block;
  overflow: hidden;
  position: relative;
  height: 220px;
  margin-bottom: 40px;
}
.expert-page .expert-descr-block .expert-description:after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(transparent 20px, white);
}
.expert-page .expert-descr-block .expert-description p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #0D030E;
}
.expert-page .expert-descr-block .expert-description.show {
  height: auto;
}
.expert-page .expert-descr-block .expert-description.show:after {
  display: none;
}
.expert-page .expert-descr-block button {
  position: relative;
  top: -20px;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: 10px;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: #944CA2;
}
.expert-page .expert-descr-block .expert-themes {
  position: absolute;
  bottom: 20px;
  margin-top: 20px;
}
.expert-page .expert-descr-block .expert-themes p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
}
.expert-page .expert-descr-block .expert-themes p span {
  font-weight: normal;
  color: #944CA2;
  margin-right: 20px;
}
.services {
  padding-top: 50px;
}
.services h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.services h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.services h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
}
.services h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.services .service-page-image-block {
  height: 530px;
  overflow: hidden;
  position: relative;
}
.services .service-page-image-block .service-page-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.services .service-page-description {
  margin-top: 40px;
  background: #FFFFFF;
  padding: 40px;
}
.services .service-page-description h3 {
  margin-bottom: 40px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
}
.services .service-page-description p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  margin-bottom: 40px;
  position: relative;
}
.services .service-page-description p:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 0px;
  top: -5px;
}
.services .service-page-description .service-page-price {
  font-family: Caviar Dreams;
  font-size: 40px;
  font-weight: bold;
  color: #0D030E;
  display: flex;
  justify-content: space-between;
}
.services .service-page-description .service-page-price .order-btns .fast-order {
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #D3CAFF 0%, #8374D5 50%, #D3CAFF 100%);
  transition: all 0.3s;
}
.services .service-page-description .service-page-price .order-btns .fast-order:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.services .service-page-description .service-page-price .order-btns .order {
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.services .service-page-description .service-page-price .order-btns .order:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.services .service-block {
  margin-bottom: 20px;
  position: relative;
}
.services .service-block .image-block {
  overflow: hidden;
  max-height: 260px;
}
.services .service-block .image-block .image-block-img {
  width: 100%;
  height: auto;
}
.services .service-block .title-block {
  background: #FFFFFF;
  padding: 10px 20px;
  height: 100px;
  overflow: hidden;
}
.services .service-block .title-block .title-block-link {
  font-family: Caviar Dreams;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
}
.services .service-block .description-block {
  background: #FFFFFF;
  padding: 10px 20px;
  position: relative;
  top: -2px;
}
.services .service-block .description-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  height: 168px;
  overflow: hidden;
}
.services .service-block .description-block:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 20px;
  top: -5px;
}
.services .service-block .description-block .get-service {
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.services .service-block .description-block .get-service:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.services .services-slider-block {
  position: relative;
  z-index: 0;
}
.services .services-slider-block .services-text-slider {
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.services .services-slider-block .services-text-slider .slider-block {
  padding: 50px 20px;
}
.services .services-slider-block .services-text-slider .slider-block h3 {
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
  position: relative;
}
.services .services-slider-block .services-text-slider .slider-block h3:after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 0;
  bottom: -5px;
}
.services .services-slider-block .services-text-slider .slider-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  margin-top: 40px;
  height: 80px;
  overflow: hidden;
}
.services .services-slider-block .services-text-slider .slider-block .get-more {
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #944CA2;
}
.services .services-slider-block .services-image-slider {
  z-index: -1;
  margin-left: auto;
}
.services .services-slider-nav {
  position: relative;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .services-slider-nav a {
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 50px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.services .services-slider-nav a:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.services .services-slider-nav .services-slider-arrows {
  font-size: 19px;
}
.services .services-slider-nav .services-slider-arrows i {
  color: #944CA2;
  transition: all 0.3s;
  cursor: pointer;
}
.services .services-slider-nav .services-slider-arrows i:hover {
  color: #FFFFFF;
}
.about h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.about h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.about h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
}
.about h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.about .about-page-image-block {
  height: 530px;
  overflow: hidden;
  position: relative;
}
.about .about-page-image-block .about-page-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.about .about-page-description {
  margin-top: 40px;
  background: #FFFFFF;
  padding: 40px;
}
.about .about-page-description h3 {
  margin-bottom: 40px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
}
.about .about-page-description p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  margin-bottom: 40px;
  position: relative;
}
.about .about-page-description p:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 0px;
  top: -5px;
}
.news-page h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.news-page h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.news-page h2 {
  width: 100%;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #0D030E;
  position: relative;
  padding-bottom: 20px;
  z-index: 0;
}
.news-page p {
  color: #0D030E;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  position: relative;
}
.news-page p:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 0;
  top: -5px;
}
.news-page .news-image-block {
  margin-bottom: 30px;
  position: relative;
}
.news-page .news-image-block .time {
  position: absolute;
  top: 15px;
  left: 0;
  padding: 5px 10px;
  background: #8374D5;
}
.news-page .news-image-block .time p {
  color: #FFFFFF;
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
}
.news-page .news-block {
  margin-bottom: 30px;
  padding-bottom: 10px;
  background: #FFFFFF;
}
.news-page .news-block .image-block {
  position: relative;
}
.news-page .news-block .image-block .image-block-img {
  width: 100%;
  height: auto;
}
.news-page .news-block .image-block .time {
  position: absolute;
  top: 15px;
  left: 0;
  padding: 5px 10px;
  background: #8374D5;
}
.news-page .news-block .image-block .time p {
  color: #FFFFFF;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.news-page .news-block .title-block {
  padding: 10px 20px;
}
.news-page .news-block .title-block h3 {
  font-family: Caviar Dreams;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  height: 100px;
}
.news-page .news-block .title-block .title-block-link {
  color: #0D030E;
}
.news-page .news-block .description-block {
  margin-top: auto;
  padding: 10px 20px;
  position: relative;
}
.news-page .news-block .description-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: #0D030E;
  height: 72px;
  overflow: hidden;
}
.news-page .news-block .description-block:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 20px;
  top: -5px;
}
.news-page .news-block .description-block-link {
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: #944CA2;
}
.news-page .news-description {
  padding: 30px;
  background: #FFFFFF;
}
.contact h1 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.contact h1 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.contact h3 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #0D030E;
  position: relative;
  padding-bottom: 20px;
  margin-left: 40px;
}
.contact h3 span {
  position: absolute;
  top: 10px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
}
.contact .our-contacts {
  background: #FFFFFF;
  padding: 20px 0;
  height: 100%;
}
.contact .our-contacts ul {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.contact .our-contacts ul li {
  color: #0D030E;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: relative;
}
.contact .our-contacts ul li .list-img {
  position: absolute;
  left: 0;
}
.contact .our-contacts ul li ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact .our-contacts ul li ul li {
  margin-right: 20px;
  margin-bottom: 0;
}
.contact .contact-form {
  background: #FFFFFF;
  padding: 20px 0;
  position: relative;
  height: 100%;
}
.contact .contact-form p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #0D030E;
  margin-left: 40px;
  position: relative;
  top: -50px;
  margin-bottom: 0;
}
.contact .contact-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
.contact .contact-form form input[type="text"] {
  width: 49%;
  border: 1px solid #944CA2;
  background: #D3CAFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 20px;
}
.contact .contact-form form textarea {
  width: 100%;
  border: 1px solid #944CA2;
  background: #D3CAFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Exo 2', sans-serif;
}
.contact .contact-form form button[type='submit'] {
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.contact .contact-form form button[type='submit']:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.contact .contact-form form .form-check {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  color: #944CA2;
}
.contact .contact-form form .form-check .form-check-label {
  cursor: pointer;
}
.contact .contact-form form .button-block {
  margin-left: 40px;
  padding-bottom: 30px;
}
.contact .icon-img {
  width: 27px;
  height: 27px;
}
.products {
  padding-top: 50px;
}
.products .title-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .products-slider-nav {
  display: flex;
  align-items: center;
}
.products .products-slider-nav a {
  color: #944CA2;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s;
}
.products .products-slider-nav a:hover {
  color: #FFFFFF;
}
.products .products-slider-nav .products-slider-arrows {
  margin-left: 15px;
  font-size: 19px;
}
.products .products-slider-nav .products-slider-arrows i {
  color: #944CA2;
  transition: all 0.3s;
  cursor: pointer;
}
.products .products-slider-nav .products-slider-arrows i:hover {
  color: #FFFFFF;
}
.products h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
}
.products h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.products .products-slider .product-block {
  margin: 0 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF;
}
.products .products-slider .product-block .image-block {
  position: relative;
}
.products .products-slider .product-block .image-block .image-block-img {
  height: 280px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.products .products-slider .product-block .image-block .product-sticker {
  position: absolute;
  top: 10px;
  left: 0;
}
.products .products-slider .product-block .image-block .product-sticker .new {
  display: flex;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #0D030E;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #A9E066;
}
.products .products-slider .product-block .image-block .product-sticker .sale {
  display: flex;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #D3608F;
}
.products .products-slider .product-block .image-block .product-sticker .top {
  display: flex;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #0D030E;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #FFE531;
}
.products .products-slider .product-block .title-block {
  padding: 10px 20px;
}
.products .products-slider .product-block .title-block h3 {
  font-family: Caviar Dreams;
  font-size: 23px;
  color: #0D030E;
  text-align: center;
  height: 60px;
}
.products .products-slider .product-block .price-block {
  padding: 10px 20px;
}
.products .products-slider .product-block .price-block p {
  position: relative;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0D030E;
}
.products .products-slider .product-block .price-block p .old-price {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
  font-weight: normal;
  color: #944CA2;
  text-decoration: line-through;
}
.products .products-slider .product-block .cart-block {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .products-slider .product-block .cart-block .get-more {
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #944CA2;
}
.products .products-slider .product-block .cart-block .heart {
  color: #D3CAFF;
  font-size: 28px;
  transition: all 0.3s;
}
.products .products-slider .product-block .cart-block .heart:hover {
  transform: scale(1.2);
}
.products .products-slider .product-block .cart-block .buy {
  color: #FFFFFF;
  padding: 11px 10px;
  margin-left: 5px;
  border-radius: 100%;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.products .products-slider .product-block .cart-block .buy .buy-img {
  width: 30px;
  height: auto;
}
.products .products-slider .product-block .cart-block .buy:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.news {
  padding-top: 50px;
}
.news .title-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news .news-slider-nav {
  display: flex;
  align-items: center;
}
.news .news-slider-nav a {
  color: #944CA2;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s;
}
.news .news-slider-nav a:hover {
  color: #FFFFFF;
}
.news .news-slider-nav .news-slider-arrows {
  margin-left: 15px;
  font-size: 19px;
}
.news .news-slider-nav .news-slider-arrows i {
  color: #944CA2;
  transition: all 0.3s;
  cursor: pointer;
}
.news .news-slider-nav .news-slider-arrows i:hover {
  color: #FFFFFF;
}
.news h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
}
.news h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.news .news-slider .news-block {
  margin: 0 15px;
  padding-bottom: 10px;
  background: #FFFFFF;
}
.news .news-slider .news-block .image-block {
  position: relative;
}
.news .news-slider .news-block .image-block .image-block-img {
  width: 100%;
  height: auto;
}
.news .news-slider .news-block .image-block .time {
  position: absolute;
  top: 15px;
  left: 0;
  padding: 5px 10px;
  background: #8374D5;
}
.news .news-slider .news-block .image-block .time p {
  color: #FFFFFF;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.news .news-slider .news-block .title-block {
  padding: 10px 20px;
}
.news .news-slider .news-block .title-block h3 {
  font-family: Caviar Dreams;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  height: 130px;
}
.news .news-slider .news-block .title-block .title-block-link {
  color: #0D030E;
}
.news .news-slider .news-block .description-block {
  margin-top: auto;
  padding: 10px 20px;
  position: relative;
}
.news .news-slider .news-block .description-block p {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: #0D030E;
  height: 72px;
  overflow: hidden;
}
.news .news-slider .news-block .description-block:before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 65px;
  background: #944CA2;
  left: 20px;
  top: -5px;
}
.news .news-slider .news-block .description-block-link {
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: #944CA2;
}
.subscribe {
  padding-top: 100px;
  padding-bottom: 150px;
}
.subscribe h2 {
  width: max-content;
  font-family: Corinthia;
  font-size: 92px;
  color: #FFFFFF;
  position: relative;
  padding-top: 20px;
  z-index: 0;
}
.subscribe h2 span {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Caviar Dreams;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #944CA2;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: -1;
}
.subscribe p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.subscribe form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.subscribe form input[type='text'] {
  border: 1px solid #944CA2;
  background: #FFFFFF;
  width: 40%;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Exo 2', sans-serif;
}
.subscribe form button[type='submit'] {
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 30px;
  width: 15%;
  font-size: 19px;
  font-family: 'Exo 2', sans-serif;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #E978FF 0%, #944CA2 50%, #E978FF 100%);
  transition: all 0.3s;
}
.subscribe form button[type='submit']:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.subscribe form .form-check {
  margin-top: 20px;
  width: 100%;
  color: #944CA2;
}
.subscribe form .form-check .form-check-label {
  cursor: pointer;
}
.footer {
  background: url(../images/footer_bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
}
.footer div {
  position: relative;
}
.footer .footer-logo-img {
  width: 145px;
  height: auto;
}
.footer .footer-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  justify-content: start;
  height: 100%;
}
.footer .footer-menu-list li {
  padding: 0 20px;
}
.footer .footer-menu-list li:first-child {
  padding-left: 0;
}
.footer .footer-menu-list li:last-child {
  padding-right: 0;
}
.footer .footer-menu-link {
  color: #FFFFFF;
  font-size: 18px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}
.footer .footer-menu-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.footer .footer-menu-link:hover:after {
  width: 100%;
  left: 0;
}
.footer .user-link {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  color: #0D030E;
  background-size: auto 200%;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3CAFF 50%, #FFFFFF 100%);
  transition: all 0.3s;
}
.footer .user-link:hover {
  background-position: bottom center;
  box-shadow: 2px 2px 10px #944ca2b0;
}
.footer .user-icon {
  width: 13px;
  height: auto;
  position: relative;
  top: -3px;
  margin-right: 5px;
}
.footer .container:first-child {
  margin-bottom: 40px;
}
.footer .footer-socials {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.footer .footer-socials .footer-social-link {
  width: max-content;
  margin: 0 10px;
}
.footer .footer-socials .footer-social-icon {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}
.footer .footer-socials .footer-social-icon:hover {
  transform: scale(1.2);
}
.footer .copyright p {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 100;
}
.footer .copyright .copyright-link {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 100;
}
.footer .policy {
  position: relative;
  top: -3px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.footer .policy .policy-link {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 100;
}
.footer .cards {
  display: flex;
}
.footer .cards .cards-img {
  width: 38px;
  height: auto;
  margin: 0 5px;
}
